<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/93f049fe77.js"
      crossorigin="anonymous"
    ></script>
    <title>Puregym HTML Email</title>
    <style type="text/css">
      body {
        font-family: "Roboto", sans-serif;
        margin: 0;
        background-color: grey;
      }
      table {
        border-spacing: 0;
      }
      td {
        padding: 0;
      }
      img {
        border: 0;
      }

      .wrapper {
        background-color: grey;
        width: 100%;
        table-layout: fixed;
        padding-top: 60px;
        padding-bottom: 60px;
      }
      .main {
        background-color: white;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
      }

      .orange-btn {
        background-color: #f66129;
        border-radius: 5px;
        color: white;
        padding: 13px 15px;
        text-decoration: none;
        letter-spacing: 0.9px;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <center class="wrapper">
      <table class="main" width="%100">
        <!-- HEADER -->
        <tr>
          <td style="padding:5px 0;">
            <table class="section-container" width="100%" >
              <tr>
                <td>
                  <table class="header-container" style="padding: 10px 50px; margin: auto;">
                    <tr>
                      <td style="text-align: left;">
                        <a href="https://www.puregym.com/" target="_blank"><img src="logo.png" alt="" width="150px" style="min-width: 100%; display: block; height: auto;"></a>
                         <%= image_tag "logo.png", :target => "_blank", width:"150px", style:"max-width: min-width: 100%; display: block; height: auto;" %>
                      </td>
                      <td style="text-align: right; vertical-align: bottom;">
                        <p style="text-align:center; display: block; color:#39b7bc; font-size:14px; font-weight: 700; margin: 0; padding-left: 190px;">APRIL NEWSLETTER</p>
                     </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- BANNER -->
        <tr>
          <td>
            <table class="section-container">
              <tr>
                <td>
                  <table class="image-container">
                    <%= image_tag "gym-member.jpg", style:"max-width: 100%" %>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- TEXT & BUTTON -->
        <tr>
          <td>
            <table class="section-container" style="padding: 25px 0">
              <tr>
                <td>
                  <table class="heading-container" style="margin: auto">
                    <tr>
                      <td>
                        <h3 style="margin: 0">Hi Hannah,</h3>
                      </td>
                    </tr>
                  </table>
                  <table class="info-container">
                    <tr>
                      <td>
                        <p style="text-align: center; padding: 0 50px">
                          Mellodie felt like she lost herself during the
                          pandemic. She had put on weight and her mental health
                          had taken a rapid decline.
                        </p>
                        <p style="text-align: center; padding: 0 50px">
                          She decided to join PureGym and started working with a
                          PT and attending classes. Now, she credits the gym and
                          gym community for helping to improve her confidence
                          and mental health.
                        </p>
                      </td>
                    </tr>
                  </table>
                  <table
                    class="button-container"
                    style="margin: 25px auto auto auto"
                  >
                    <tr>
                      <td>
                        <a
                          href="https://www.puregym.com/blog/mellodies-story/" target="_blank"
                          class="orange-btn"
                          >MELLODIE'S STORY</a
                        >
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- BANNER IMAGE-->
        <tr>
          <td>
            <table class="section-container">
              <tr>
                <td>
                  <table class="image-container">
                    <img
                      src="hello-fresh.jpg"
                      alt=""
                      width="600px"
                      style="max-width: 100%"
                    />
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- TEXT & BUTTON -->
        <tr>
          <td>
            <table
              class="section-container"
              style="padding-top: 10px; padding-bottom: 40px"
            >
              <tr>
                <td>
                  <table class="info-container">
                    <tr>
                      <td>
                        <p style="text-align: center; padding: 0 50px">
                          Need some inspiration? Want to try something new? How
                          about 4 months HelloFresh discount!
                        </p>
                        <p style="text-align: center; padding: 0 50px">
                          You can get 50% off your 1st box, 35% off the next
                          three and then we'll also give you 5% off your boxes
                          for the next 3 months!
                        </p>
                      </td>
                    </tr>
                  </table>
                  <table class="info-container" style="margin: auto">
                    <tr>
                      <td>
                        <p
                          style="
                            font-size: 20px;
                            margin-top: 2px;
                            margin-bottom: 5px;
                          "
                        >
                          Use code: <strong>PUREGYM50</strong>
                        </p>
                      </td>
                    </tr>
                  </table>
                  <table
                    class="button-container"
                    style="margin: 30px auto auto auto"
                  >
                    <tr>
                      <td>
                        <a
                          href="https://www.hellofresh.co.uk/pages/resolution?irgwc=1&utm_source=affiliate&utm_medium=cpo&utm_campaign=Online%20Tracking%20Link_Zoom%20Media_2589703&utm_content=ONLINE_TRACKING_LINK&irclickid=SdRwXWVFFxyIWlszN%3A0wnXCVUkDxD5XFNRBMXU0" target="_blank"
                          class="orange-btn"
                          >SAY HELLO</a
                        >
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- BANNER IMAGE -->
        <tr>
          <td>
            <table class="section-container">
              <tr>
                <td>
                  <table class="image-container">
                    <img
                      src="ramadan.jpg"
                      alt=""
                      width="600px"
                      style="max-width: 100%"
                    />
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- TEXT & BUTTON -->
        <tr>
          <td>
            <table
              class="section-container"
              style="background-color: #413857; padding-bottom: 40px"
            >
              <tr>
                <td>
                  <table class="info-container">
                    <tr>
                      <td>
                        <p
                          style="
                            color: white;
                            text-align: center;
                            padding: 0 50px;
                          "
                        >
                          Ramadan is a very auspicious month for the mind, body,
                          and soul.
                        </p>
                        <p
                          style="
                            color: white;
                            text-align: center;
                            padding: 0 50px;
                          "
                        >
                          A month to completely detox and create good habits
                          both mentally and physically. That is why during this
                          month of fasting for every club, members will have
                          access to dates in the club to end the fast.
                        </p>
                        <p
                          style="
                            color: white;
                            text-align: center;
                            padding: 0 50px;
                          "
                        >
                          You can learn more about Ramadan and fasting while
                          training here.
                        </p>
                      </td>
                    </tr>
                  </table>
                  <table
                    class="button-container"
                    style="margin: 30px auto auto auto"
                  >
                    <tr>
                      <td>
                        <a
                          href="https://www.puregym.com/blog/working-out-during-ramadan-how-to-achieve-your-fitness-goals/" target="_blank"
                          class="orange-btn"
                          >FIND OUT MORE</a
                        >
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- BANNER IMAGE -->
        <tr>
          <td>
            <table class="section-container">
              <tr>
                <td>
                  <table class="image-container">
                    <img
                      src="gym.jpg"
                      alt=""
                      width="600px"
                      style="max-width: 100%"
                    />
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- TEXT & BUTTON -->
        <tr>
          <td>
            <table class="section-container" style="padding-bottom: 40px">
              <tr>
                <td>
                  <table class="info-container">
                    <tr>
                      <td>
                        <p style="text-align: center; padding: 0 50px">
                          Want to take your workout to the next level? - Then
                          Plyometric training might be for you!
                        </p>
                        <p style="text-align: center; padding: 0 50px">
                          Boost strength, improve your fitness performance and,
                          ultimately, challenge yourself.
                        </p>
                      </td>
                    </tr>
                  </table>
                  <table
                    class="button-container"
                    style="margin: 30px auto auto auto"
                  >
                    <tr>
                      <td>
                        <a
                          href="https://www.puregym.com/blog/what-is-plyometric-training/" target="_blank"
                          class="orange-btn"
                          >LET'S TRAIN</a
                        >
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- BANNER IMAGE -->
        <tr>
          <td>
            <table class="section-container">
              <tr>
                <td>
                  <table class="image-container">
                    <img
                      src="food.jpg"
                      alt=""
                      width="600px"
                      style="max-width: 100%"
                    />
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- TEXT & BUTTON -->
        <tr>
          <td>
            <table
              class="section-container"
              style="
                background-color: #39b7bc;
                color: white;
                padding-top: 10px;
                padding-bottom: 40px;
              "
            >
              <tr>
                <td>
                  <table class="heading-container" style="margin: auto">
                    <tr>
                      <td>
                        <h3>Easter season is here!</h3>
                      </td>
                    </tr>
                  </table>
                  <table class="info-container">
                    <tr>
                      <td>
                        <p style="text-align: center; padding: 0 50px">
                          Try these delicious double chocolate protein oats and
                          they take less than 25 minutes to make.
                        </p>
                      </td>
                    </tr>
                  </table>
                  <table
                    class="button-container"
                    style="margin: 30px auto auto auto"
                  >
                    <tr>
                      <td>
                        <a
                          href="https://www.puregym.com/blog/double-chocolate-baked-protein-oats/" target="_blank"
                          class="orange-btn"
                          >YUM!</a
                        >
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- FOOTER -->
        <tr>
          <td>
            <table class="section-container">
              <tr>
                <td>
                  <table
                    class="heading-container"
                    style="margin: auto; text-align: center"
                  >
                    <tr>
                      <td>
                        <h3>Thanks,</h3>
                        <h3>PureGym Team</h3>
                      </td>
                    </tr>
                  </table>
                  <table class="social-media-icons-container">
                    <tr>
                      <td></td>
                    </tr>
                  </table>
                  <table class="info-container">
                    <tr>
                      <td>
                        <p style="text-align: center; padding: 0 50px">
                          Pure Gym Ltd, 4th Floor, Town Centre House, Merrion
                          Centre, Leeds, LS2 8LY
                        </p>
                        <p style="text-align: center; padding: 0 50px">
                          Registered in England | Company No. 06690189 | VAT No.
                          945 5577 81
                        </p>
                        <p style="text-align: center; padding: 0 50px">
                          ©2022 Pure Gym Ltd
                        </p>
                      </td>
                    </tr>
                  </table>
                  <table class="links-container" width:100% style="margin:auto; margin-top: 15px;">
                      <td>
                        <a href="https://twitter.com/puregym" target="_blank"><img src="twitter.png" alt="" style="width: 35px" /></a>
                        <a href="https://www.facebook.com/puregym" target="_blank"><img src="fb.png" alt="" style="width: 35px" /></a>
                        <a href="https://www.instagram.com/puregymofficial/" target="_blank"><img src="ig.png" alt="" style="width: 35px" /></a>
                        <a href="https://www.youtube.com/channel/UCBbB-PR9CsGcMnswP04TbhQ" target="_blank"><img src="yt.png" alt="" style="width: 35px" /></a>
                      </td>
                    </tr>
                  </table>
                  <table class="links-container" style="margin: auto;">
                    <tr>
                      <td style="color:#39b7bc; text-align: center; text-decoration: underline;">
                        <a href="https://www.puregym.com/subscription-centre/?externalid=5927860" target="_blank"><p style="font-size: 15px; padding-right: 2px;">unsubscribe</p></a>
                      </td>
                      <td style="color:#39b7bc; text-align: center; text-decoration: underline;">
                        <a href="https://www.puregym.com/join/privacy-policy/" target="_blank"><p style="font-size: 15px; padding-left: 2px;">privacy policy</p></a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
