// Place all the styles related to the about_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.section-one-container {
  // margin: 150px auto;
  padding: 85px 250px;
  background-color: #fafafa;
}

.heading-container-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin: 55px auto;
  max-width: 885px;
}

.heading-container-description {
  margin: auto;
}

.heading-container-description h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  letter-spacing: 2px;
  transition: 0.6s ease-in-out;
  margin-bottom: 5px;
}

.heading-container-description h5 {
  margin-bottom: 15px;
  line-height: 1.5;
}

.heading-container-description p {
  color: #737373;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  max-width: 555px;
  text-align: left;
  line-height: 1.8;
}

.selfie-image {
  width: 270px;
}

.heading-image-container {
  margin: auto;
  display: block;
}

// Media Quieres
@media (max-width: 1199.98px) {
  .section-one-container {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 125px 130px;
  }
}

@media (max-width: 991.98px) {
  .section-one-container {
    padding: 25px 35px;
  }

  .heading-container-two {
    grid-template-columns: 1fr;
  }

  .heading-container-description h1 {
    font-size: 2.8rem;
  }

  .heading-container-description h5 {
    font-size: 1.4rem;
  }

  .heading-container-description p {
    font-size: 1rem;
    max-width: 425px;
  }

  .heading-image-container {
    margin: 25px auto;
  }
}

// Section Two

.section-two-container {
  padding: 85px 250px;
}

.section-two-heading-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin: 55px auto;
  max-width: 885px;
}

.section-two-heading-container-info h1 {
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  letter-spacing: 2px;
  transition: 0.6s ease-in-out;
  display: block;
  margin-bottom: 20px;
}

.section-two-heading-container-info p {
  color: #737373;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  max-width: 555px;
  text-align: left;
  line-height: 1.8;
  margin-bottom: 15px;
  display: block;
}

.section-two-image-container {
  margin: auto;
}

.coding-girl-image {
  width: 350px;
  display: block;
}

// Media Quieres
@media (max-width: 1199.98px) {
  .section-two-container {
    // margin: 150px auto;
    padding: 40px 130px;
  }
}

@media (max-width: 991.98px) {
  .section-two-container {
    padding: 0px 0px;
  }
  .section-two-heading-container {
    grid-template-columns: 1fr;
    max-width: 445px;
  }

  .section-two-heading-container-info {
    margin-bottom: 25px;
  }

  .section-two-heading-container-info h1 {
    font-size: 2.8rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
  }

  .section-two-heading-container-info p {
    font-size: 1rem;
    max-width: 315px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .heading-image-container {
    margin: 55px auto;
  }
}

// Section Three

.section-three-container {
  padding: 65px 250px;
  background-color: #fafafa;
}

.section-three-heading-container-info h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  letter-spacing: 2px;
  transition: 0.6s ease-in-out;
  margin-bottom: 20px;
  display: block;
}

.section-three-heading-container-info p {
  color: #737373;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  max-width: 567px;
  line-height: 1.8;
  margin: 0 auto;
}

// Card Styling

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 35px auto;
  max-width: 700px;
}

.card {
  max-width: 20rem;
  margin: 0 auto;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

// Media Quieries

@media (max-width: 767.98px) {
  .card {
    max-width: 20rem;
  }
  .section-three-container {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: #fafafa;
  }
}

@media (max-width: 1199.98px) {
  .card {
    margin: 0 auto;
    max-width: 15rem;
  }
  .cards-container {
    margin: 25px auto;
    max-width: 535px;
    grid-gap: 10px;
  }
}

@media (max-width: 991.98px) {
  .section-three-heading-container {
    padding: 0px 0px;
  }

  .section-three-heading-container-info p {
    max-width: 315px;
  }

  .cards-container {
    grid-template-columns: 1fr;
    margin: 25px auto;
    max-width: 535px;
    grid-gap: 10px;
  }

  .card {
    margin-bottom: 15px;
  }
}

@media (max-width: 575.98px) {
  .section-three-container {
    padding: 5px 0px;
  }

  .section-three-heading-container {
    margin: 25px 0px;
  }
}
