// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Heading Section

.heading-container {
  margin: 350px 0px;
}
.heading-container-info h1 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  letter-spacing: 2px;
  transition: 0.6s ease-in-out;
}

.heading-container-info h1:hover {
  transform: scale(0.9);
}

.heading-container-info p {
  color: #737373;
  font-size: 1.2rem;
  margin: 25px auto;
  font-family: "Inter", sans-serif;
  max-width: 445px;
  transition: 0.5s ease-in-out;
}

.heading-container-info p:hover {
  transform: scale(0.9);
}

// Media Queries

@media (max-width: 575.98px) {
  .heading-container {
    margin-top: 75px;
    padding: 0 40px;
  }
  .heading-container-info h1 {
    font-size: 2rem;
  }

  .heading-container-info p {
    font-size: 1rem;
  }
}

// Project Section

.card-container {
  margin-top: -100px;
  padding: 0 100px;
  margin-bottom: 400px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  height: 400px;
  border-radius: 5px;
}

.card-product img {
  width: 50%;
}

.card-product h2 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  color: #737373;
  text-align: left;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 25px;
  margin-bottom: 40px;
  max-width: 560px;
  letter-spacing: 0.8px;
  font-family: "Inter", sans-serif;
}

.card-product-infos {
  margin: 25px auto;
}
// .card-product .card-product-infos {
//   padding: 16px;
// }

.read-more-btn {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  margin: 226px;
  transition: 0.3s ease-in-out;
  // font-family: "Inter", sans-serif;
  // font-weight: light;
}

.read-more-btn:hover {
  background-color: #737373;
  color: white;
  text-decoration: none;
}

// Media Queries

@media (max-width: 575.98px) {
  .card-container {
    margin-top: -275px;
    margin-bottom: 65px;
    padding: 0 40px;
  }

  .card-product {
    height: 700px;
    display: inline-block;
  }
  .card-product-infos {
    padding: 0 15px;
  }

  .card-product img {
    width: 100%;
  }

  .card-product h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .card-product p {
    font-size: 0.87rem;
    text-align: center;
  }

  .read-more-btn {
    margin: 85px;
  }
}

.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #737373;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 200;
}

// Media Queries

@media (max-width: 575.98px) {
  .footer-links a {
    font-size: 20px;
    padding: 0px 5px;
  }

  .footer-copyright {
    font-size: 0.8rem;
  }
}
