// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Heading Section

.heading-container {
  margin: 200px 0px;
}
.heading-container-info h1 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  letter-spacing: 2px;
  transition: 0.6s ease-in-out;
}

.heading-container-info h1:hover {
  transform: scale(0.9);
}

.heading-container-info p {
  color: #737373;
  font-size: 1.2rem;
  margin: 25px auto;
  font-family: "Inter", sans-serif;
  max-width: 445px;
  transition: 0.5s ease-in-out;
}

.heading-container-info p:hover {
  transform: scale(0.9);
}

// Media Queries

@media (max-width: 575.98px) {
  .heading-container {
    margin-top: 75px;
    padding: 0 40px;
  }
  .heading-container-info h1 {
    font-size: 2rem;
  }

  .heading-container-info p {
    font-size: 1rem;
  }
}

// Project Section

.card-container {
  margin-top: -100px;
  margin-bottom: 400px;
}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  max-width: 1015px;
  margin: 0 auto;
}

.card-product img {
  height: 100%;
  width: 405px;
  object-fit: cover;
}

.card-product h2 {
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  color: #737373;
  text-align: left;
  font-size: 0.9rem;
  line-height: 2.2;
  margin-top: 25px;
  margin-bottom: 40px;
  max-width: 560px;
  letter-spacing: 0.8px;
  font-family: "Inter", sans-serif;
}

.card-product-infos {
  margin: auto;
  max-width: 500px;
}
// .card-product .card-product-infos {
//   padding: 16px;
// }

.read-more-btn {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  // font-family: "Inter", sans-serif;
  // font-weight: light;
}

.read-more-btn:hover {
  background-color: #737373;
  color: white;
  text-decoration: none;
}

// Media Queries

@media (max-width: 991.98px) {
  .card-container {
    padding: 0 25px;
  }

  .card-product {
    max-width: 800px;
  }

  .card-product-infos {
    padding: 0 50px;
  }
}

@media (max-width: 767.98px) {
  .card-container {
    padding: 0 50px;
  }

  .card-product {
    display: inline-block;
  }
  .card-product-infos {
    margin: 40px auto;
  }

  .card-product img {
    width: 100%;
  }

  .card-product-infos {
    padding: 0 50px;
  }

  .card-product h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .card-product p {
    font-size: 0.87rem;
  }
  .read-more-btn {
    text-align: center;
    padding: 15px 110px;
    display: block;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .card-container {
    margin-top: -145px;
    margin-bottom: 65px;
    padding: 0 30px;
  }

  .card-product {
    display: inline-block;
  }
  .card-product-infos {
    padding: 0 15px;
  }

  .card-product img {
    width: 100%;
  }

  .card-product-infos {
    padding: 0 50px;
  }

  .card-product h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .card-product p {
    font-size: 0.87rem;
  }
  .read-more-btn {
    padding: 15px 65px;
  }
}
