.navbar-brand {
  margin-left: 35px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

.navbar-nav {
  padding: 0px 35px;
}

.nav-item {
  padding: 0 10px;
  text-decoration: none;
  margin: auto;
  color: white;
  transition: 0.3s ease-in-out;
}

.nav-item:hover {
  color: white;
  transform: scale(0.9);
  opacity: 75%;
}
